<?xml version="1.0" encoding="UTF-8" standalone="no"?><rules><rule name="RuleAltaGrupo" pattern="\[ALTA-GRUPO\]"><action name="ActionValidateSender"/><action name="ActionValidateAndSaveStudentInGroup"/></rule><rule name="RuleAltaMateria" pattern="\[ALTA-MATERIA-([0-9]{4})\] ([0-9]{5})-(.*)"><action name="ActionAltaAlumno"/></rule><rule name="RuleConsultaTema" pattern="\[CONSULTA-((PUBLICA)|(PRIVADA))\] (.*)"><action name="ActionValidateSender"/><action name="ActionCreateTicket"/></rule><rule name="RuleConsultaTicket" pattern="\[CONSULTA\] ([0-9]+)"><action name="ActionValidateSender"/><action name="ActionConsultaTicket"/></rule><rule name="RuleEntregaTp" pattern="\[ENTREGA-TP-([0-9]+)\]"><action name="ActionValidateSender"/><action name="ActionSaveTp"/></rule><rule name="RuleSpam" pattern=".*"><action name="ActionSpam"/></rule></rules>
